body {
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;

    font-family: Arial;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.time-display {
    font-size: 1000%;
}